<!DOCTYPE html>
<html>
    <head>
           
            <link rel = "stylesheet" href="./css/styles.css">
               
    </head>
    <body>
            
            {{>header}}
           <p>Your onestop for weather updates creeated by Roopa Kusuma Suresh.This app uses data from mapbox.com and darksky.net </p>
             
             {{>footer}}
    </body>
</html>