<!DOCTYPE html>
<html>
    <head>            
            <link rel = "stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
            <p>{{errorMessage}}</p>
            <!errorMessage is a property and not a partial so no need use greater sign >
        {{>footer}}
    </body>

</html>