

<!partials are only a part of the whole hrml pg>
<header>
<h1>{{title}}</h1>
<!create a navigation bar>
    
            <a href ="/">Home</a>
            <a href = "/about">About</a>
            <a href = "/help">Help</a>
    
    </header>